API_PORT="3000"

DB_HOST="localhost"
DB_USER="postgres"
DB_PASS="1234"
DB_NAME="wattsup"
DB_PORT="5432"

REDIS_HOST="localhost:6379"
REDIS_PASSWORD=""
REDIS_DB="0"

CONSUMIR_VIA_MQTT="false"
MQTT_TOPIC_OPERATION="domain_device_operation"
MQTT_TOPIC_STATUS="domain_device_status"

MQTT_BROKER="-"
MQTT_CLIENT_PRODUCER_ID="producer-wattsup-01"
MQTT_CLIENT_CONSUMER_ID="consumer-wattsup-01"
MQTT_USER="-"
MQTT_PASS="-"

CUSTO_KWH="0,656"
HIVEMQ_TESTE="false"

TWILIO_ACCOUNT_SID="-"
TWILIO_AUTH_TOKEN="-"
RECEBER_MENSAGEM="false"